
@import '~antd/es/style/themes/default.less';

.sf_content {
  &_item1_left
  {
    position: absolute;
    left: 10px;
    top: 90px;
    width: 542px;
    height: 177px;
  }
  &_item1_right  {
    position: absolute;
    left: 563px;
    top: 90px;
    width: 542px;
    height: 177px;
  }
  &_item2{
    position: absolute;
    left: 1116px;
    top: 90px;
    width: 794px;
    height: 177px;
  }
  &_item3_top{
    position: absolute;
    left: 10px;
    top: 277px;
    width: 1095px;
    height: 466px;
  }
  &_item3_left{
    position: absolute;
    left: 10px;
    top: 753px;
    width: 543px;
    height: 317px;
  }
  &_item3_right{
    position: absolute;
    left: 563px;
    top: 753px;
    width: 543px;
    height: 317px;
  }
  &_item4 {
    position: absolute;
    left: 1115px;
    top: 277px;
    width: 795px;
    height: 793px;
  }


  &_item1_left,
  &_item1_right,
  &_item2,
  &_item3_top,
  &_item3_left,
  &_item3_right,
  &_item4 {
    background-color: #161834;
  }

  &_item1_left,
  &_item1_right,&_item2{
    .item-border{
      height: 174px;
    }
  }

  &_item3_left,&_item3_right{
    .item-border{
      height: 317px;
    }
  }
  &_item4{
    .item-border{
      height: 793px;
    }
  }

  .sf_content_title {
    position: absolute;
    display: block;
    margin: 18px auto auto 32px;
    color: #00a9ff;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    line-height: 3.240px;
  }

  .digit_text_wrapper {
    display: inline-block;
    width: 251px;
    height: 100%;
    padding-top: 76px;
    text-align: center;

    .digit {
      font-weight: bold;
      font-size: 40px;
      font-family: KINGDEEKB-Bold, KINGDEEKB;
      line-height: 40px;
    }

    .text {
      display: block;
      color: #ffffff;
      font-size: 18px;
      font-family: MicrosoftYaHei;
      line-height: 27px;
      opacity: 0.7;
    }

    .wan {
      font-size: 20px;
      font-family: MicrosoftYaHei;
      line-height: 27px;
    }
  }

  &_item1 {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // column-gap: 10px;
  }

  &_item2 {
    & .digit_text_wrapper {
      width: 375px;
    }
  }

  &_item3 {
    // display: grid;
    // grid-template-rows:  475px 310px;
    // grid-template-columns: 1fr 1fr;
    // gap: 10px;
    >div{
      overflow: hidden;

    }




    &_top {
      grid-column-start: 1;
      grid-column-end: 3;
      .item-border{
        height: 466px;
      }
    }

    #map {
      width: 100%;
      height: 564px;
    }

    #stack,
    #doughnut {
      width: 100%;
      height: 270px;
      margin-top: 40px;
    }
  }

  &_item4 {
    display: grid;
    grid-template-rows: 475px 317px;
    row-gap: 10px;

    #group_bar {
      width: 99.364px;
      height: 472px;
    }

    &_bottom {
      display: flex;
      align-items: top;
      justify-content: space-between;
      height: 312px;
      padding: 0 3.740px;

      .sf_card_wrapper {
        position: relative;
        display: inline-block;
        width: 238px;
        height: 302px;
        padding: 2.31rem 20px 0 20px;
        background: linear-gradient(
          360deg,
          rgba(1, 1, 22, 0.2) 0%,
          #010116 100%
        );
        border-radius: 3px;

        .card_title {
          color: #00a9ff;
          font-weight: 500;
          font-size: 20px;
          font-family: SourceHanSansCN-Medium, SourceHanSansCN;
          line-height: 20px;
        }

        .table_wrapper {
          width: 100%;
          height: 107px;
          padding-top: 2.94rem;
        }

        table {
          width: 100%;
          height: 59px;
          border-spacing: 0;

          tr {
            & td:nth-of-type(2) {
              text-align: right;
            }
          }

          .card_text {
            color: #ffffff;
            font-weight: 400;
            font-size: 1.472px;
            font-family: SourceHanSansCN-Regular, SourceHanSansCN;
            line-height: 12.8px;
          }

          .card_digit {
            font-weight: bold;
            font-family: KINGDEEKB-Bold, KINGDEEKB;
          }

          .big {
            font-size: 20px;
            line-height: 20px;
          }

          .small {
            font-size: 1.40px;
            line-height: 1.40px;
          }
        }

        .line {
          width: 238px;
          height: 0;
          border-top: dashed 0.06rem rgba(255, 255, 255, 0.16);
        }
      }

      #line_logistics,
      #line_aviation,
      #line_commerce {
        position: absolute;
        bottom: 0;
        left: 0rem;
        width: 29.740px;
        height: 18.40px;
      }
    }
  }

  .blue {
    color: #1890ff;
  }

  .green {
    color: #45dad1;
  }

  .yellow {
    color: #ff9400;
  }

  .Distributed_storage_c {
    display: grid;
    grid-template-rows: 424px;
    grid-template-columns: 180px 1116px;
    // margin-top: 6.40px;

    > div:nth-child(1) {
      height: 328px;
      margin-top: 64px;
      overflow: hidden;
    }
  }

  .sales_heat_chart {
    width: 874px !important;
    height: 424px !important;
  }
}


